<section class="container">
  <div class="project">
    <div class="project-description">
      <div class="image">
        <img src="/images/testing.jpeg" alt="img">
      </div>
      <div class="content">
        <p>Una descripcion del proyecto en el que he trabajado</p>
      </div>
    </div>
    <div class="project-details">
      <div class="web-page">https://www.google.com.pe</div>
      <div class="stack">
        Lista de tecnologias
      </div>
    </div>
  </div>
</section>