.breadcrumb {
  font-size: 14px;
  padding: 0;
  margin-bottom: 20px;
  list-style: none;
  border-radius: 0;
  display: flex;
  flex-wrap: wrap;
}

.breadcrumb-item+.breadcrumb-item {
  padding-left: 0.5rem;
}

.breadcrumb-item+.breadcrumb-item::before {
  float: left;
  padding-right: 0.5rem;
  color: #6c757d;
  content: "/";
} 
