.img-wrapper {
  position: relative;
  overflow: hidden;
}

.img-wrapper > .content::after {
  position: absolute;
  content: url('../../public/assets/svg/icon-view.svg');
  inset: 0;
  background-color: hsla(178, 100%, 50%, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: opacity 0.5s;
  opacity: 0;
}

.img-wrapper:hover > .content::after {
  opacity: 1;
}
