---
// Component Imports
import BaseLayout from 'layout:BaseLayout';
import Header from 'component:UI/Header';
import ListPosts from 'component:Blog/ListPosts';

const title = 'Blog';
const description = 'Tutoriales, opiniones, noticias acerca de ciencia y tecnología lo encontrarás en esta sección ⬇️';
---
<BaseLayout title='xavimon.dev 👨‍💻 - Blog' description={description}>
	<Header {title} {description}/>
	<main>
		<!-- <FilterPosts /> -->
    <ListPosts />
	</main>
</BaseLayout>
