---
// Component Imports
import BaseLayout from '../layouts/BaseLayout.astro';
import Header from '../components/UI/Header.astro';
// import FilterPosts from '../components/Blog/FilterPosts.astro'
import ListPosts from '../components/Blog/ListPosts.astro'

const title = 'Blog';
const description = 'Tutoriales, opiniones, noticias acerca de ciencia y tecnología lo encontrarás en esta sección ⬇️';
---
<BaseLayout title='xavimon.dev 👨‍💻 - Blog' description={description}>
	<Header {title} {description}/>
	<main>
		<!-- <FilterPosts /> -->
    <ListPosts />
	</main>
</BaseLayout>
