---
import Post from './Post.astro';
// Data Fetching: List all Markdown Posts in the repo.
let allPosts = await Astro.fetchContent('../../pages/posts/*.md');
allPosts = allPosts.sort((a, b) => new Date(b.publishDate).valueOf() - new Date(a.publishDate).valueOf());
---
<section class="grid grid-cols-1">
  {
    allPosts.map(p => <Post post={p} />)
  }
</section>