---
const { title,description } = Astro.props;
---
<article class="rounded-xl mb-7">
  <header class="mb-2">
    <a href="/" class="text-3xl font-bold text-white">First post</a>
    <p class="text-slate-500 font-semibold">January 17,2022</p>
  </header>
  <p class="text-lg text-gray-400 mb-2">
    Understanding how CSS position works seems straightforward, but there are quite a few nuances you need to understand in order to truly master CSS.
    Understanding how CSS position works seems straightforward, but there are quite a few nuances you need to understand .
  </p>
  <!-- <span class="bg-clip-text text-transparent bg-gradient-to-r from-pink-500 to-violet-500">
    bg-gradient-to-r from-[#008f68] to-[#fae042] bg-clip-text text-transparent
  </span> -->
  <a href="/post/2" class="text-lg font-medium bg-gradient-to-r text-orange-600 bg-clip-text text-transparent hover:text-amber-400">Leer más</a>
</article>