---
import BaseHead from '../components/SEO/BaseHead.astro';
import Navbar from '../components/UI/Navbar.astro';
import Footer from '../components/UI/Footer.astro';

const { title,description,lang } = Astro.props;
---

<html lang={lang || 'en'}>
	<head>
		<BaseHead {title} {description}/>
		<script>
  		if (
  		  localStorage.getItem('color-theme') === 'dark' ||
  		  (!('color-theme' in localStorage) &&
  		    window.matchMedia('(prefers-color-scheme: dark)').matches)
  		) {
				localStorage.setItem('color-theme','dark');
				document.documentElement.classList.add('dark');
  		} else {
				localStorage.setItem('color-theme','light');
				document.documentElement.classList.remove('dark');
  		}

			
		</script>
	</head>

	<body class="dark:bg-slate-900 flex flex-col max-w-6xl mx-auto px-4 md:px-6">
    <Navbar />
		<div class="wrapper">
			<slot />
		</div>
		<Footer />
		<script>
			const themeToggleDarkIcon = document.querySelector('#theme-toggle-dark-icon');
			const themeToggleLightIcon = document.querySelector('#theme-toggle-light-icon');
			const btnToggle = document.querySelector('#btnToggle');
			const colorTheme = localStorage.getItem('color-theme');

			if (localStorage.getItem('color-theme') === 'light') {
				themeToggleLightIcon.classList.remove('hidden');
			} else {
				themeToggleDarkIcon.classList.remove('hidden');
			}

			btnToggle.addEventListener('click', function() {

				themeToggleDarkIcon.classList.toggle('hidden');
				themeToggleLightIcon.classList.toggle('hidden');

				if (colorTheme) {
						
						if (localStorage.getItem('color-theme') === 'light') {
							document.documentElement.classList.add('dark');
							localStorage.setItem('color-theme', 'dark');
								
						} else {
							document.documentElement.classList.remove('dark');
							localStorage.setItem('color-theme', 'light');
						}
				} 
			});
		</script>
	</body>
</html>
