---
import BaseHead from 'component:SEO/BaseHead';
import Navbar from 'component:UI/Navbar';
import Footer from 'component:UI/Footer';

export interface Props {
	title: string;
	description: string;
}

const { title,description } = Astro.props;
---
<html lang='es'>
	<head>
		<BaseHead {title} {description}/>
		<link rel="stylesheet" href={Astro.resolve('../styles/global.css')}>
		<script>
  		if (
  		  localStorage.getItem('color-theme') === 'dark' ||
  		  (!('color-theme' in localStorage) &&
  		    window.matchMedia('(prefers-color-scheme: dark)').matches)
  		) {
				localStorage.setItem('color-theme','dark');
				document.documentElement.classList.add('dark');
  		} else {
				localStorage.setItem('color-theme','light');
				document.documentElement.classList.remove('dark');
  		}
		</script>
	</head>

	<body class="dark:bg-slate-900 flex flex-col max-w-6xl mx-auto px-4 md:px-6">
    <Navbar />
		<slot />
		<Footer />
		<script>
			const themeToggleDarkIcon = document.querySelector('#theme-toggle-dark-icon');
			const themeToggleLightIcon = document.querySelector('#theme-toggle-light-icon');
			const btnToggle = document.querySelector('#btnToggle');
			const colorTheme = localStorage.getItem('color-theme');

			if (localStorage.getItem('color-theme') === 'light') {
				themeToggleLightIcon.classList.remove('hidden');
			} else {
				themeToggleDarkIcon.classList.remove('hidden');
			}

			btnToggle.addEventListener('click', function() {

				themeToggleDarkIcon.classList.toggle('hidden');
				themeToggleLightIcon.classList.toggle('hidden');

				if (colorTheme) {
						
					if (localStorage.getItem('color-theme') === 'light') {
						document.documentElement.classList.add('dark');
						localStorage.setItem('color-theme', 'dark');
							
					} else {
						document.documentElement.classList.remove('dark');
						localStorage.setItem('color-theme', 'light');
					}
				} 
			});
		</script>
	</body>
</html>
