---
interface Props {
  title: string;
  description: string;
}
const { title, description } = Astro.props
---

<div class="mb-8">
  <h1 class="mb-6 text-2xl font-bold md:text-3xl text-gray-800 dark:text-white header">{title}</h1>
  <p class="text-gray-800 dark:text-gray-400 text-lg">
    {description}
  </p>
</div>